// Paths
base = '/'

paths = {
  base: base
  images: pathjoin(base, 'images/')
  fonts: pathjoin(base, 'fonts/')
}

// Fonts
// fontFace("Roboto", paths.fonts + "Roboto")

font-text--primary = "Roboto"